<h1>All Astronauts</h1>

<% @astronauts.each do |astronaut| %>
  <p>Name: <%= astronaut.name %> </p>
  <p>Age: <%= astronaut.age %> </p>
  <p>Job: <%= astronaut.job %> </p>
<% end %>

<h4>Average Age of all Astronauts: <%=  %></h4>
